.nav{
  background-color:rgb(255, 255, 255);
    color: rgb(10, 10, 10);
    height: 10vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
    z-index: 999;
    position: fixed;


    .rightDiv{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 30vw;
    }
    .address{
      display: none;
    }
   
  }
  .align {
    margin-left: 40% !important;
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: space-between;
    align-items: center; 
  }
  .active{
        color: black;
      }
  .col{
    color: black;
  }

  
.rightDiv{
  :hover{
    color: #6976d9;
    transition: all .3s ease;
  }
}


.logo{
  width: auto;
  margin-top:2vh;

  
}
